.nota{border: 1px; 
    box-shadow: 10px;
    margin: 3cm;
    background-color:antiquewhite;
    padding: 3cm;
    
}
.nota-fecha{text-align: right;}
.first-paragraph{margin-top: 2.5cm;}
.firma{margin: 2cm;
    text-align: right;
}
.nota p{
    color:green;
}