<div class="container">
    <h1>BIBLIOTECA POPULAR MARIANO MORENO</h1>
    <h2>COMISIÓN DIRECTIVA ASUMIDA EL 24 DE AGOSTO DE 2024</h2>
    <UL>
        <li>Presidenta: Marcela Mercado Luna</li>
        <li>Vicepresidenta: Cecilia Brizuela Fazio</li>
        <li>Secretaria: Graciela Nieto Ortiz</li>
        <li>Pro-secretaria: Berta Juárez</li>
        <li>Tesorero: Diego Ocampo Vega</li>
        <li>Pro-tesorero: Martín Sotelo</li>
        <li>Vocales: <ul>
                <li>Eugenia Mazzarelli</li>
                <li>Paulina Chiabrando</li>
                <li>Javier Estrada</li>
                <li>Beatriz Romanazzi</li>
                <li>Ana Núñez Lanzillotto</li>
                <li>Ángeles Mendoza Herrera</li>
            </ul>
    </UL>
    <h2>COMISIÓN REVISORA DE CUENTAS</h2>
    <ul>
        <li>María Eugenia Anticaglia</li>
        <li>Patricia Céspedes</li>
        <li>Eduardo Eduardo Masramón</li>
        <li>Severo Straffeza</li>
    </ul>
    <h2>ACTVIDIDADES PERMANENTES </h2>
    <ul>
        <li>Consultas bibliográficas, del diario local  y de material electrónico en sala (para todo público)</li>
        <li>Uso de Internet y préstamos domiciliaros (para socios).</li>
        <li>Servicio de Wi Fi.</li>
        <li>Servicio de información ciudadana (CoNaBiP)</li>
        <li>Préstamo de computadoras a estudiantes que así lo requieran para realizar tareas en procesadores de textos</li>
        <li>Visitas al rincón infantil, ya sea en forma individual, o coordinadas con diferentes escuelas.</li>
        <li>Conferencias, foros, debates, seminarios, cursos, presentaciones de libros, conciertos, recitales, etc. (Estos se programan y se agendan con anticipación).</li>
        <li>Taller de lectura para niñas, niños y adolescentes (sábados por la mañana)</li>
        <li>Talleres literarios: adultos (días lunes y miércoles), jóvenes (martes), niños (jueves).</li>
        <li>Coordinación permanente con las escuelas públicas a fin de programar las visitas guiadas a la biblioteca con actividad final en el Rincón Infantil, lo que se llevan a cabo los días miércoles y jueves por la mañana.</li>
        <li>Edición de libros a través de la administración de un fondo editorial donado con cargo.</li>
        <li>Participación en las ferias provinciales del libro mediante la presencia con stand propio y el préstamo de libros infantiles a los organizadores. </li>

    </ul>
    <h2>LOS ESPACIOS FISICOS DE LA BIBLIOTECA</h2>
    <ul>
        <li>Hall de ingreso con busto de Mariano Moreno (obra del escultor Luis Perlotti)</li>
            <li>Sala “Rosario Vera Peñaloza”. Es el salón principal de lectura, usado también para conferencias</li>
            <li>Sala “Enrique Peñaloza Camet” (Con Rincón Infantil, Biblioteca Pedagógica y pequeña videoteca)</li>
            <li>Rincón Infantil <a href="https://letrasbibliotecalarioja.blogspot.com/2009/05/olga-santochi-de-pardes.html">“Olga Santochi de Paredes”</a>.</li>
            <li>Sala de reuniones la Comisión Directiva.</li>
            <li>Sala de textos escolares y préstamos.</li>
            <li>Cocina pequeña</li>
            <li>Dos baños (uno de damas y otro de caballeros)</li>
            <li>Depósito.</li>
            <li>Pequeño patio con escalera y altillo sonde se ubica el archivo de la biblioteca.</li>
            
    </ul>
    <H2>FONDO BIBLIOGRÁFICO</H2>
    <h3>Principales colecciones:</h3>
    <ul>
        <li>Biblioteca de temas y autores/as riojanos/as: Literatura (Poesía, Narrativa, Teatro), Historia, Geografía,
            Derecho, Arquitectura, Educación, Sociedad, Medicina, Economía, Ensayos, Leyes, Religión, Antropología,
            Patrimonio, Folklore </li>
        <li>Biblioteca de manga, cómic, historieta y novela gráfica.</li>
        <li>*Biblioteca Pedagógica, especializada en las distintas disciplina curriculares. </li>
        <li>Biblioteca de Literatura infantil y juvenil</li>
        <li>Textos Escolares Por materia</li>
        <li>Biblioteca de Literatura Universal: novelas, cuentos, poesías, biografías, memorias </li>
        <li>Biblioteca de Filosofía y algunos temas de Psicología</li>
        <li>Biblioteca de obras de teatro y estudios teatrales</li>
        <li>Biblioteca de Historia Universal - Americana - Argentina</li>
        <li>Biblioteca de Arte </li>
        <li>Todo es Historia (colección completa), Suplemento Familia y Cultura del Diario El Independiente (colección
            completa), Revista Puro Cuento (colección completa), Revista Láinez: Órgano del Magisterio Riojano
            (colección completa), Revista de la Junta de Historia y letras de La Rioja (colección completa), Revista
            Novedades Educativas, Sueños Compartidos, Sudestada, La Balandra, Mascaró, entre otras publicaciones.</li>
    </ul>
    <h2>RESEÑA HISTÓRICA</h2>
    <p>En las últimas décadas del siglo XIX ante el gran impulso educativo recibido por la provincia con la creación del
        Colegio Nacional (1871) y de la Escuela Normal (1884) la comunidad riojana vio la necesidad de contar con un
        centro independiente del ámbito escolar oficial que pudiera funcionar como apoyatura a los estudiantes,
        principalmente mediante la facilitación de material bibliográfico y la creación de un ámbito adecuado para el
        estudio y la investigación. Así nace la Asociación Mariano Moreno cuya principal finalidad fue precisamente la
        creación de una biblioteca popular. </p>
    <p>Dice Pedro Agost Rojo en su investigación sobre esta biblioteca:</p>
    <p class="quote">Fueron once sus fundadores y es un deber de estricta justicia recordarlos y tener para ellos un
        permanente agradecimiento por el centro cultural que nos legaron. Fueron ellos: Flaviano de la Colina, Pedro P.
        Calderón, Lorenzo Torres, Justo Herrera, Dermidio Carreño, Lidoro J. Avellaneda, Francisco Vicente Bustos,
        Arturo Castaño, Francisco Sotomayor, Aurelio Carreño y Gamaliel Vallejo (…), estos socios fundadores,
        confeccionaron y aprobaron el primer Estatuto de la Asociación, el 9 de agosto de 1886</p>
    <p>El 6 de agosto de 1886 había quedado ya debidamente fundada esta asociación y su primera Comisión Directiva,
        constituida de la siguiente manera:</p>
    <ul>
        <li>Presidente: Prof. Flaviano de la Colina</li>
        <li>Vicepresidente: Pedro Calderón</li>
        <li>Secretarios: Justo Herrera y Francisco Sotomayor</li>
        <li>Tesorero: Lídoro J. Avellaneda</li>
        <li>Vocales: Lorenzo Torres, Dermidio Carreño y Gamaliel Vallejo,</li>
    </ul> a quienes la revista “Láinez” en su número dedicado al cincuentenario de la biblioteca califica como “hombres
    todos estos laboriosos y bien inspirados, dispuestos a crear un ambiente general virgen, relativamente, a las
    especulaciones de la inteligencia”. Por su parte, Pedro Camilo Alem en su “Reseña Histórica de la Biblioteca Mariano
    Moreno” apunta que:
    <p class="quote">Los primeros pasos de esta comisión los encontramos en la obtención de la
        personería jurídica el 24 de agosto de 1886 mediante decreto suscripto por el entonces gobernador Don Francisco
        Vicente Bustos.</p>
    <p>A partir de ese momento, la flamante asociación se dedica a realizar diversas acciones tendientes a recaudar
        fondos, tales como: “bazares a beneficio”, principalmente realizados en el Club Social. También conciertos y
        obras de teatro, cuyas entradas eran también a beneficio. Hubo cuotas extraordinarias de los miembros de la
        comisión y de varios socios, y gestiones ante el Poder Ejecutivo, la Legislatura y el Consejo de Educación, de
        lo que resultaron algunas subvenciones y leyes de declaración de interés. Así se fueron reuniendo los primeros
        fondos y recursos destinados a la futura construcción de un edificio. </p>
    <p>Se comenzó por la compra de un terreno céntrico –el mismo en el que hoy se alza la Biblioteca– que en aquel
        entonces era un sitio baldío cubierto de arbustos. El 25 de mayo de 1887, en un acto realizado en ese precario
        espacio, escenario de la futura construcción, se coloca la piedra fundamental de la obra. En esa oportunidad los
        vecinos celebraron el comienzo de la concreción de un sueño y escucharon las palabras del Dr. Gaspar Gómez y del
        Dr. Manuel Pazos, quienes, desde un bordo del terreno se dirigieron a los presentes para referirse a las
        bondades de este noble proyecto que redundaría en beneficios para la comunidad.</p>
    <p>Este inicio entusiasta pasó a las siguientes comisiones y el esfuerzo se vería coronado bajo la presidencia del
        Ing. Arturo Castaño, el 11 de diciembre de 1888, oportunidad en la que se abre al público el primer salón del
        edificio, al que la Comisión Directiva decide denominar “Sarmiento”, estando sus ánimos aún atravesados por el
        reciente fallecimiento de quien fuera –entre otros aciertos y errores– el creador de las bibliotecas populares.
    </p>
    <p>Después de este primer logro, y luego de asumir una tercera comisión directiva, la Asociación Mariano Moreno
        atraviesa, sin embargo, un período de inactividad y poco entusiasmo del que logra salir a instancias de los
        socios más optimistas que, alentados por Lídoro Avellaneda, convocan a una reunión extraordinaria en el salón de
        la Escuela Normal, oportunidad en la que se decide dar un nuevo impulso a la Biblioteca para evitar que decaigan
        sus objetivos primordiales. En esa reunión, además de la renovación del compromiso fundacional, se arribó a la
        elección de una nueva comisión directiva presidida por el Dr. Gaspar Gómez en cuya gestión, conocida como una de
        las más laboriosas y fecundas, se concretaron muchas realizaciones tendientes a fortalecer la institución y a
        hacer más funcionales sus servicios. Durante este período se designa un bibliotecario (Otáñez), se adquiere
        parte del mobiliario con el que aún cuenta la biblioteca y se contrata al ebanista Pagani, italiano afincado en
        La Rioja para la confección de la imponente biblioteca principal con escalera y segundo nivel que luce el salón
        principal. </p>
    <p>Asimismo, y en el marco de un moderno concepto de difusión y apertura, se nombra una comisión de “Propaganda” en
        la Capital Federal, integrada por ilustres figuras del quehacer cultural: Joaquín V. González, Florentino
        Barros, Adolfo Dávila y Salvador de la Colina.</p>
    <p>El 9 de Julio de 1908 con la conmemoración de la fecha patria, había quedado oficialmente inaugurado el nuevo
        salón anexo al primero, al que se denominara “Rivadavia”, nombre que fue poco se pronunciado por las
        generaciones que siguieron, prefiriendo la denominación genérica de “salón principal”. Mucho tiempo después, ya
        en pleno el siglo XXI, habiendo atravesado una larga etapa de revisionismo histórico, no eran pocas las voces de
        asociados/as que manifestaban desacuerdo o desagrado al enterarse del nombre del salón. Así es como en reunión
        de tablas del 5 de octubre de 2015 la comisión directiva, presidida por Marcela Mercado Luna, decide rebautizar
        este salón y cambiarlo por el de la Maestra de la Patria, Rosario Vera Peñaloza. Se emite así la resolución
        correspondiente, en uno de cuyos artículos puede leerse:</p>
    <p class="quote">Artículo2º: Imponer el nombre de Rosario Vera Peñaloza al mencionado Salón y usar como locución
        sinónima la de “Salón Rosarito” para facilitar su utilización e incentivar su divulgación. </p>
    <h3>Un rol social</h3>
    <p>La Biblioteca Mariano Moreno cumplió a lo largo de los años un papel fundamental dentro de la vida cultural
        riojana, y sus instalaciones fueron no sólo el lugar requerido por estudiantes y docentes para sus labores, sino
        también el ámbito independiente y propicio para todo acontecimiento relacionado con el quehacer cultural y
        artístico de la sociedad riojana. Grandes hombres y mujeres, figuras destacadas del quehacer provincial,
        formaron parte de su comisión directiva y contribuyeron al engrandecimiento de esta querida institución.</p>
    <p>Con el correr de los años el edificio fue ampliándose y su capital bibliográfico acrecentándose y actualizándose
        a la medida de los requerimientos del público. </p>
    <p>Enrolada en una línea de apertura a la comunidad, la Biblioteca propició talleres literarios y de lectura, ciclos
        de conferencias, presentaciones de libros, charlas y debates sobre temas de interés general; organizó concursos
        literarios y de lectura tendientes a acercar a las y los jóvenes a la producción y a la lectura. Además,
        sostiene visitas de las escuelas primarias al Rincón Infantil “Olga Santochi”.</p>
    <h3>Un sueño editorial</h3>
    <p>En el año 1997, la Asociación Mariano Moreno sumó a sus realizaciones una que merece especial atención por no ser
        habitual entre las actividades de las bibliotecas populares: se trata nada menos que de un emprendimiento
        editorial.
        Esto tuvo lugar cuando la Biblioteca Popular “Mariano Moreno” aceptó la donación con cargo efectuada por el Dr.
        Ricardo Mercado Luna, cuyo objetivo era financiar la publicación de clásicos riojanos inéditos o agotados. No
        quiso entonces el donante que su nombre trascendiera, y, en agradecimiento, la Comisión Directiva decidió
        nominar ese emprendimiento editorial con el título de una de las obras de Mercado Luna, por entender que de ese
        modo –a la vez que se nombraba a La Rioja– se homenajeaba al creador de la colección.
        Hoy, el autor de <i>La ciudad de los naranjos</i>, no está físicamente entre nosotros, pero su amor a la tierra natal
        continúa vivo, no sólo en las páginas que dejó escritas, sino también en este noble gesto de propiciar la
        reedición de la obra de otros autores, antes que la suya propia.
        La primera etapa de este emprendimiento editorial, dio como resultado la publicación de trece volúmenes de
        “clásicos”, más dos tomos dedicados a la “difusión de autores noveles en atención a su mérito, determinado
        mediante concursos”, tal como Ricardo Mercado Luna lo dejara estipulado.
        Continuamos con la segunda etapa de edición que hemos denominado SEGUNDA SERIE DE CLÁSICOS, con el orgullo de
        haber ganado un lugar destacado en las bibliotecas de muchísimos hogares riojanos y, muy especialmente, en el
        corazón de lectoras y lectores.
    <h3>Sala “Enrique Peñaloza Camet”</h3>
    <p>Ante el crecimiento del patrimonio de la Biblioteca y la demanda de la concurrencia, un nuevo salón se hacía
        necesario. Así lo pensó el Ingeniero Enrique Peñaloza Camet, quien le dio gran impulso y logró terminar esta
        ampliación, aunque lamentablemente, falleció antes de que la obra fuera habilitada. Esta nueva dependencia, que
        lleva su nombre a manera de póstumo homenaje y reconocimiento perdurable a su figura, se inauguró el 28 de
        setiembre del 2001 y en ella se localizaron: la BIBLIOTECA PEDAGÓGICA y el RINCÓN INFANTIL “OLGA SANTOCHI” con
        bibliografía destinada a jóvenes y pequeños lectores. Esta sala cobró especial relevancia en el año 2011 gracias
        al colorido mural diseñado y realizado por la artista plástica Alicia Carreño, con la colaboración de niñas,
        niños y adolescentes que frecuentaban la biblioteca. </p>
    <h3>Fuentes: </h3>
    <ul>
        <li>Aportes para una historia de la Biblioteca Mariano Moreno escrita por Pedro Agost Rojo</li>
        <li>Revista Láinez (1936). Número dedicado al cincuentenario de la Asociación Mariano Moreno Biblioteca Popular
        </li>
        <li>Boletín de la Biblioteca Mariano Moreno dirigido por Juan Carlos Soria (Números 1 y 5)</li>
        <li>Lectura de Memoria (1998) del Presidente Ing. Enrique Peñaloza Camet </li>
        <li>Libro de Actas del año 2001.</li>
        <li>Libro de Actas del año 2008 a 2012</li>
        <li>Lectura de Memoria (2014) de la Presidenta Lic. Marcela Mercado Luna</li>
    </ul>
</div>