
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="/" class="w3-bar-item w3-button"><b>BPMM</b> Inicio</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a routerLink="" fragment="about" class="w3-bar-item w3-button">La Biblioteca</a>
        <a routerLink="" fragment="projects" class="w3-bar-item w3-button">Proyectos</a>
        <a routerLink="" fragment="contact" class="w3-bar-item w3-button">Contacto</a>
        <a routerLink="catalogo" class="w3-bar-item w3-button">Catálogo</a>
        <!-- <a routerLink="login" class="w3-bar-item w3-button" *ngIf="!isAuth">Ingresar</a>
        <a class="w3-bar-item w3-button" *ngIf="isAuth" (click)="callLogout()">Salir</a>
        <a routerLink="register" class="w3-bar-item w3-button" *ngIf="!isAuth" >Registrarse</a> -->
      </div>
    </div>
  </div>