
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="/" class="w3-bar-item w3-button"><b>BPMM</b> Inicio</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="/#about" class="w3-bar-item w3-button">La Biblioteca</a>
        <a href="/#projects" class="w3-bar-item w3-button">Proyectos</a>
        <a href="/#contact" class="w3-bar-item w3-button">Contacto</a>
        <a routerLink="catalogo" class="w3-bar-item w3-button">Catálogo</a>
        
        <!-- <a routerLink="login" class="w3-bar-item w3-button" *ngIf="!isAuth">Ingresar</a>
        <a class="w3-bar-item w3-button" *ngIf="isAuth" (click)="callLogout()">Salir</a>
        <a routerLink="register" class="w3-bar-item w3-button" *ngIf="!isAuth" >Registrarse</a> -->
      </div>
      <!-- A Hambuger button to show the menu when the screen is small-->
      <a href="javascript:void(0);" 
         class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" 
         (click)="toggleMenu()">
        ☰
      </a>
    </div>

<!-- Navbar for small screens -->
<div id="navSmall" 
     class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium" 
     (click)="toggleMenu()">
  <a href="/#about" class="w3-bar-item w3-button">La Biblioteca</a>
  <a href="/#projects" class="w3-bar-item w3-button">Proyectos</a>
  <a href="/#contact" class="w3-bar-item w3-button">Contacto</a>
  <a routerLink="catalogo" class="w3-bar-item w3-button">Catálogo</a>
</div>
  </div>